/* nav-part */
.nav-logo-part {
    width: 100%;
    max-width: 1250px;
    margin: auto;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo {
    width: 150px;
    height: 80px;
}

.link {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
}

.link-nav {
    margin-right: 2.5rem;
    white-space: nowrap;
}

.home {
    color: #252432;
}

.gray {
    color: #8987A1;
}

body {
    background-color: #F5F8FF;
}

.cart-part {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* ✅ Mobile responsive */
@media only screen and (max-width: 768px) {
    .link-nav:not(.cart-link) {
        display: none;
    }

    .nav-logo-part {
        flex-direction: row;
        gap: 0;
    }
}
